# django-filter
# djangorestframework-jsonapi
# inflection
# mysqlclient
# python-dotenv
# pytz
# sqlparse
# tzdata
Django
django-environ
django-extensions
djangorestframework
factory_boy
faker
ipython
markdown
pillow
python-dotenv
responses

# Dev
mypy
autopep8
