# django-filter
# djangorestframework
# djangorestframework-jsonapi
# inflection
# mysqlclient
# python-dotenv
# pytz
# sqlparse
# tzdata
Django
django-environ
django-extensions
factory_boy
faker
ipython
markdown
responses
